<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  </head>
  <body>
    <h1>Welcome to Struttr</h1>
    <p>Brag about shit!</p>
    <form action="/boast">
        <input name="brag" size=80
               placeholder="Something you did that you're proud of..."></input>
        <br/>
        <input type="submit" value="Boast!"></input>
    </form>
    <h3>Examples:</h3>
    <ul>
      {% for row in boasts %}
        <li>{{ row.description }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
