<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  </head>
  <body>
    <header>
      <h1><img src="/static/images/haters.gif">Struttr</h1>
    </header>
    <article>
      <p>Brag about shit!</p>
      <div id="boasts">
        <form action="/boast" class="boast">
            <input name="brag" size=80
                   placeholder="Something you did that you're proud of..."></input>
            <br/>
            <input type="submit" value="Boast!"></input>
        </form>
        {% for row in boasts %}
          <div class="boast">
            <h4>{{ row.description }}</h4>
            <a href="/">Didn't happen!</a> <a href="/">Props!</a>
          </div>
        {% endfor %}
      </article>
  </body>
</html>
